.product-details
  margin: 0 auto
  display: flex
  column-gap: 40px

.gallery
  display: flex
  column-gap: 14px

.gallery__thumbnails
  display: flex
  flex-direction: column
  row-gap: 14px

.gallery__thumbnail
  cursor: pointer
  width: 152px
  height: 167px
  background-color: #F0EEED
  border-radius: 20px
  box-sizing: border-box
  border: 1px solid transparent

.gallery__thumbnail_selected
  border: 1px solid #000

.gallery__photo
  width: 444px
  height: 530px
  background-color: #F0EEED
  border-radius: 20px
  display: flex
  justify-content: center
  align-items: center

.gallery__photo img
  width: 100%