@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
}

* {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    max-width: 1200px;
    padding: 40px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 225px  1fr;
    gap: 75px;
}

.menu {
    padding-top: 60px;
}

.menu__item {
    font-size: 18px;
    line-height: 28px;
    color: rgba(21, 20, 57, 0.4);
    list-style: none;
    margin-bottom: 10px;

    &:hover {
        color: rgba(21, 20, 57, 0.7);
    }
}

.menu__item_active {
    color: rgba(30, 14, 98, 1);
}

.gallery-header {
    height: 60px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.gallery-counter {
}

.gallery-sorting {

}

.sorting-select {
    color: rgba(30, 14, 98, 1);
}

.chevron {
    display: inline-block;
    width: 12px;
    height: 12px;
    transition-duration: .5s;
    background: url('./assets/icons/chevron-down.svg') no-repeat center;

    &.chevron_up {
        transform: rotate(180deg);
    }
}

.chevron path {
    fill: rgba(30, 14, 98, 1);
}

.gallery {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.card {
    width: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__cover {
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card__title {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: rgba(30, 14, 98, 1);
    margin-bottom: 5px;
}

.card__price {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(72, 43, 231, 1);
    margin-bottom: 10px;
}

.card__button {
    padding: 7px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    background: transparent;
    border: 2px solid rgba(235, 234, 237, 1);
    border-radius: 100px;
    color: rgba(30, 14, 98, 1);
}