.category__wrapper
  margin: 0 auto
  display: flex
  column-gap: 20px

.category
  display: flex
  flex-direction: column
  padding-bottom: 34px
  margin-bottom: 40px

.category__title
  font-size: 32px
  font-weight: bold
  margin-bottom: 19px

.category__product-list
  display: flex
  gap: 38px 20px
  flex-wrap: wrap