.category-card
  display: flex
  align-items: center
  cursor: pointer
  aspect-ratio: 1 / 1
  width: 100%
  max-width: 300px
  background-color: #F0EEED
  border-radius: 20px
  flex-grow: 1

.category-card__title
  width: 100%
  font-size: 64px
  font-weight: bold
  word-wrap: break-word
