.product-card
  width: 100%
  max-width: 300px
  flex-grow: 1
  cursor: pointer

.thumbnail-container
  border-radius: 20px
  background-color: #F0EEED
  margin-bottom: 17px
  aspect-ratio: 1/1

.product-card__title
  font-size: 20px
  font-weight: bold
  margin-bottom: 10px

.rating
  margin-bottom: 10px

.rating__stars


.rating__value
  color: #000

.rating__max-rating
  color: rgba(0, 0, 0, .6)

.price
  display: flex
  column-gap: 10px

.actual-price
  font-size: 24px
  font-weight: bold

.discount
  display: flex
  column-gap: 10px

.old-price
  color: rgba(0, 0, 0, .4)
  font-size: 24px
  font-weight: bold
  text-decoration: line-through
  text-decoration-color: rgba(0, 0, 0, .4)
  text-decoration-thickness: 1px

.discount-percentage
  background-color: rgba(255, 51, 51, .1)
  color: #FF3333
  border-radius: 13px
  width: 58px
  height: 26px
  font-weight: 700
  font-size: 12px
  display: flex
  justify-content: center
  align-items: center