.offer
  background: black
  color: white
  display: flex
  justify-content: center

.top-menu
  background: white
  color: black

.cover
  background: url(../../assets/img/cover.jpg) no-repeat center center
  height: 663px

.cover__slogan
  font: 64px/64px black

.cover__description
  font: 16px/22px rgba(0, 0, 0 ,.6)

.show-now
  border-radius: 50px
  background: black
  color: white
  padding: 8px 36px

.numbers


.numbers > li
  display: inline-block

.numbers > li > div
  font: 40px bold black

.numbers > li > p
  font: 16px/22px rgba(0, 0, 0, .6)

.numbers > li + .numbers > li
  border-right: 1px solid rgba(0, 0, 0, .2)
  padding-right: 30px

.numbers > li ~ .numbers > li
  padding-left: 30px

.brand-band
  background: black
  height: 122px
  display: flex
  justify-content: center

.brand-band__item
  display: block
  min-width: 100px
  background-position: center center
  background-repeat: no-repeat
  background-size: contain

.brand-band__item_versace
  background-image: url(../../assets/img/versace.svg)

.brand-band__item_zara
  background-image: url(../../assets/img/zara.svg)

.brand-band__item_gucci
  background-image: url(../../assets/img/gucci.svg)

.brand-band__item_prada
  background-image: url(../../assets/img/prada.svg)

.brand-band__item_calvin-klein
  background-image: url(../../assets/img/calvin-klein.svg)