.offer__wrapper
  background: black

.offer
  color: white
  display: flex
  justify-content: center
  align-items: center
  height: 38px
  margin: 0 auto

.offer__link:link,
.offer__link:hover,
.offer__link:active,
.offer__link:visited
  color: #fff
  margin-left: 6px

.top-menu__wrapper
  background: white

.top-menu
  color: black
  height: 96px
  display: flex
  justify-content: space-between
  padding: 34px 0 38px
  margin: 0 auto
  box-sizing: border-box

.top-menu .logo
  font-size: 32px
  font-weight: bold
  font-family: "Poppins", sans-serif
  color: #000

#logo
  cursor: pointer

.top-menu .user
  display: flex
  justify-content: end
  column-gap: 14px

.user-item
  width: 24px
  height: 24px

.user-item_cart
  background-image: url("../../assets/img/icon-cart.svg")
  cursor: pointer

.user-item_account
  background-image: url("../../assets/img/icon-account.svg")