footer
  background-color: #f0f0f0

.subscription
  background-color: black
  border-radius: 20px

.subscription .email
  border-radius: 100px

.subscription button
  border-radius: 100px

.footer__main-content


.footer__about


.slogan


.social-links


.social-link


.social-link_twitter


.social-link_facebook


.social-link_instagram


.social-link_github


.footer-navigation


.footer-navigation ul


.footer-navigation h5


.footer-navigation li


.bottom-line


.payment-options


.payment-option


payment-option_visa
  background-image: url("../../assets/img/logo-visa.svg")

.payment-option_mastercard
  background-image: url("../../assets/img/logo-mastercard.svg")

.payment-option_paypal
  background-image: url("../../assets/img/logo-paypal.svg")

.payment-option_apple
  background-image: url("../../assets/img/logo-apple-pay.svg")

.payment-option_google
  background-image: url("../../assets/img/logo-google-pay.svg")