footer
  background-color: #f0f0f0

.subscription
  background-color: black
  border-radius: 20px

.subscription h4
  font-size: 40px
  line-height: 45px
  font-weight: bold

.subscription .email
  border-radius: 100px

.subscription button
  border-radius: 100px

.footer-navigation
  background: #F0F0F0
  display: flex
  justify-content: space-between

.footer__about


.footer__about h5
  font-family: "Poppins", sans-serif
  font-size: 33px
  font-weight: bold

.slogan
  font-size: 14px
  line-height: 22px
  color: rgba(0, 0, 0, .6)

.social-links


.social-link


.social-link_twitter


.social-link_facebook


.social-link_instagram


.social-link_github

.footer-navigation ul


.footer-navigation h5
  text-transform: uppercase
  color: #000

.footer-navigation li
  font-size: 16px
  line-height: 19px
  color: rgba(0, 0, 0, .6)
  margin-bottom: 6px

.bottom-line
  border-top: 1px solid rgba(0,  0, 0, 0.1)
  display: flex
  justify-content: space-between

.copyright
  font-size: 14px
  color: rgba(0, 0, 0, 0.6)

.payment-options
  display: flex
  column-gap: 12px

.payment-option
  width: 46px
  height: 30px

.payment-option_visa
  background-image: url("../../assets/img/logo-visa.svg")

.payment-option_mastercard
  background-image: url("../../assets/img/logo-mastercard.svg")

.payment-option_paypal
  background-image: url("../../assets/img/logo-paypal.svg")

.payment-option_apple
  background-image: url("../../assets/img/logo-apple-pay.svg")

.payment-option_google
  background-image: url("../../assets/img/logo-google-pay.svg")