.filters-panel
  border: 1px solid rgba(0,0,0,0.1)
  border-radius: 20px
  padding: 20px 24px
  width: 295px
  box-sizing: border-box

.filters-panel h4
  font-size: 20px
  margin-bottom: 24px

.filter-group
  border-top: 1px solid rgba(0,0,0,0.1)
  padding-top: 24px
  margin-bottom: 24px

.filter-group h5
  font-size: 20px

.filter-buttons
  display: flex
  flex-direction: column
  row-gap: 24px

.filter-buttons button
  height: 48px
  border-radius: 24px
  width: 100%
  font-size: 14px
  font-weight: 700

.apply-filter
  color: #fff
  background-color: #000

.reset-filter
  color: #000
  background-color: #F2F0F1